.header {
  font-family: "Shrikhand", cursive;
  background: white;
  height: 40px;
  width: 100%;
  @include display-center(row);
  position: relative;
  font-size: 23px;
  font-weight: bold;

  &__arrow a {
    position: absolute;
    color: $footer-color;
    left: 15px;
    top: 8px;
    font-size: 17px;
  }

  &__logo {
    letter-spacing: 1.1px;
  }
}
