////*loader box*/////

.container__loader {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: white;
  @include display-center;
  animation: container-loader 2s linear both;
}

@keyframes container-loader {
  50% {
    opacity: 0.5;
  }
  100% {
    visibility: hidden;
    z-index: -1;
    opacity: 0;
  }
}

////*loader*/////

.loader {
  border: 16px solid $primary-color;
  border-top: 16px solid $secondary-color;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: loader 2s linear infinite;
  background-color: white;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
